.deployment_provider_dialog_nickname{
  display: grid;
  grid-template-columns: 1fr;
  input{
    max-width: 300px;
    border: 1px solid #8f8f9d;
    width: 30vw;
    box-shadow: none;
    line-height: 25px;
    border-radius: .2em;
    font-size: 14px;
    padding-left: 15px;
    &:focus{
      outline-style: none;
    }
  }
}