@use "src/assets/styles/global";

.proj_form {
    display: grid;
    background-color: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    padding: 2rem;
    width: 100%;
    align-self: start;
    margin-top: 25px;
    .light-editor {
        border: 1px solid #d7d9db;
        border-radius: 0.5em;
    }
}

.proj_form_title{
    h1{
        font-size: 2.2rem;
    }
}

.project_description{
    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: bold;
}

.proj_form{
    h1{
        font-family: "CeraPRO-Bold", sans-serif, arial;
        font-weight: bold;
        color: #4a4a4a;
    }
}

.proj_field_container {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0.5rem;
}

.proj_container {
    display: grid;
    width: 100%;
}

.proj_field_container.proj_start_end_date {
    display: grid;
    grid-template-columns: 10rem 10rem;
    width: 5rem;
}

.proj_start_date, .proj_end_date, .proj_university, .proj_degree {
    font-weight: bold;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.25fr;
}

.proj_form input {
    background-color: #fff;
    color: #454545;
    text-decoration: none;
    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: normal;
    font-size: 1rem;
    border: 1px solid #696969;
    border-radius: 4px;
    box-shadow: none;
    padding: 1.15rem 1rem;
    display: inline-block;
    width: 20rem;
}

.proj_field_container.proj_start_end_date input {
    background-color: #fff;
    color: #454545;
    text-decoration: none;
    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: normal;
    font-size: 0.9rem;
    border: 1px solid #696969;
    border-radius: 4px;
    box-shadow: none;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    width: 9rem;
}

.proj_title{
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.25fr;
}

.proj_title label{
    font-weight: bold;
    font-size: 1.25rem;
}

.proj_submit {
    display: grid;
    justify-self: end;
}

.proj_add_new_project_title{
    margin-top: 20px;
    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: bold;
    font-size: 1.25rem;
}

.proj_list {
    display: grid;
    list-style: none;
    padding: 0;
}

.proj_list_item {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    padding: 10px;
}

.proj_list_item:hover {
    background-color: #f8faf9;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 0 solid black;
}

.proj_list_item_button_container {
    display: grid;
    justify-self: end;
}

.proj_list_item_button_container{
    justify-self: end;
    align-self: center;
    button{
        @include global.custom-button;
        font-size: 1rem;
        min-width: 100px;
        &:hover{
            background-color: #F0544E !important;
            border-color: #F0544E !important;
            color: white !important;
        }
    }
}

.proj_add_new_project_button{
    display: grid;
    justify-self: end;
    min-width: 150px;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background: white;
    color: #64ca97;
    border-radius: .25em;
    white-space: nowrap;
    padding: 5px 15px 5px 15px;
    box-shadow: 0 6px 10px 0 rgba(17,17,17,.06);
    border: 1px solid #64ca97;
    align-self: end;
    margin-top: 25px;
    &:hover{
        cursor: pointer;
        background-color: #18de84;
        color: white;
    }
}

.proj_next{
    display: grid;
    justify-self: center;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background: #64ca97;
    color: white;
    border-radius: .25em;
    white-space: nowrap;
    padding: 5px 15px 5px 15px;
    margin-top: 15px;
    box-shadow: 0 6px 10px 0 rgba(17,17,17,.06);
    border: 1px solid #64ca97;
    align-self: end;
    &:hover{
        cursor: pointer;
        background-color: #18de84;
        color: white;
    }
}

@media (max-width: 1000px) {
    .proj_container{
        width: 100%;
    }
}
