.manage_account_billing {
  .manage_account_billing_portal_link {
    margin-bottom: 1rem;
    padding-top: 1.25rem;
    font-size: 1rem;
    font-family: "CeraPRO-Medium", sans-serif, arial;
    line-height: 1.1875rem;
    color: #2678eb;
    &:hover{
      color: #0552be;
      cursor: pointer;
    }
  }
}
