.github_container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.link_github_account_copy_icon{
    &:hover{
        cursor: pointer;
    }
}

.link_github_device_code_waiting{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.link_github_account_loading {
    font-size: 20px;
}

.link_github_account_loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

.redirect_github_modal{
    h1{
        font-size: 1.5rem;
    }
    p{
        margin:0;
    }

}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
