@mixin simple-centered-container {
  display: grid;
  justify-items: center;
  align-items: center;
}
h1{
  font-weight: bold;
  font-family: "CeraPRO-Bold", sans-serif, arial;
  padding: 0;
  margin: 0;
  text-align: center;
}


.firebase_auth_container{
  @include simple-centered-container;
}

.email_verify_loading{
  @include simple-centered-container;
}

.logo_and_title_container{
  display: grid;
  grid-template-columns: min-content min-content;
  justify-items: center;
  align-items: center;
  margin-bottom: clamp(1rem, 2.5vh, 2rem);
}