.reset_password_container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 80vh;
  padding: 5vh 0 5vh 0;
}

.reset_password_card{
  display: grid;
  justify-items: center;
  text-align: center;
  height: min-content;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.1);
  border-radius: 10px;
  background: #fff;
  padding: 50px 150px 100px 150px;
  margin-bottom: 10vw;
  button{
    font-family: Roboto;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    background: #64ca97;
    color: white;
    border-radius: .25em;
    white-space: nowrap;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 6px 10px 0 rgba(17,17,17,.06);
    border: none;
    align-self: end;
    margin: 10px 0;
    min-width: 150px;
    &:hover{
      cursor: pointer;
    }
  }
}

.reset_password_title{
  font-size: 3rem;
  white-space: nowrap;
  margin-bottom: 0;
  width: min-content;
}

.reset_password_error{
  color: red;
}

.reset_password_field{
  display: grid;
  justify-items: start;
  label{
    font-size: 1.2rem;
    font-weight: bold;
  }
  input{
    border: 1px solid #8f8f9d;
    width: 300px;
    box-shadow: none;
    line-height: 45px;
    border-radius: .2em;
    font-size: 14px;
    padding-left: 15px;
    &:focus{
      outline-style: none;
    }
  }
}

@media (max-width: 700px) {
  .reset_password_container{
    align-items: center;
  }
  .reset_password_card{
    padding: 50px 10px 100px 10px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .reset_password_title{
    font-size: 2rem;
  }

  .reset_password_card{
    padding: 0;
  }
}
